<canvas id="map" height="550" width="900">
					<strong>Oh! <em>#shit</em>.. Seu browser n&atilde;o suporta Canvas.. #fail</strong>
				</canvas>

				<div id="twitter_info">
					<form action="" method="post">
						<label>Twitter:
							<input type="text" id="twitter" name="twitter" value="@" />
						</label>
						
						<input type="submit" value="Salvar" id="submit" /> <a href="javascript:;">cancelar</a>
					</form>
				</div>
				
				<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
				<script type="text/javascript">
				jQuery(function() {
					var ctx = $("#map")[0].getContext('2d');
					var x, y;

					$("#map").click( function(event) {
						position = getPosition(event);

						this.x = position.x;
						this.y = position.y;

						$(".modalBg").show();
						$("#twitter_info").show();
					});

					$("#twitter_info a").click( function(event) {
						$(".modalBg").hide();
						$("#twitter_info").hide();
					});
				
					$("#twitter_info #submit").click( function(e) {
						e.preventDefault();

						ctx.beginPath();
						ctx.fillRect(this.x-40,this.y-12,80,25);
						ctx.fillText("Sample String", 10, 50);  
					});

				});

				function getPosition(e) {
					var targ;
					if (!e)
						e = window.event;
					if (e.target)
						targ = e.target;
					else if (e.srcElement)
						targ = e.srcElement;
					if (targ.nodeType == 3) // defeat Safari bug
						targ = targ.parentNode;

					var x = e.pageX - $(targ).offset().left;
					var y = e.pageY - $(targ).offset().top;

					return {"x": x, "y": y};
				};
				</script>